/* RESETANDO */

h1,
h2,
h3,
h4,
p,
a,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SELEÇÃO DE CORES */

:root {
  --cor-1: #f6ff00;
  --cor-2: rgb(253, 221, 78);
  --cor-3: rgb(177, 130, 30);
  --cor-4: rgb(53, 43, 23);
  --cor-5: #0d0d0d;
  --cor-6: #f2f2f2;
}


/* ADICIONANDO FONTES*/

@font-face {
  font-family: "MagicSchoolTwo";
  src: url(./fonts/MagicSchoolTwo.ttf);
}
@font-face {
  font-family: "Courgette-Regular.ttf";
  src: url(./fonts/Courgette-Regular.ttf);
}

/* BG - PADRÃO */

body {
  background-image: linear-gradient(
      to top,
      rgba(53, 43, 23, 0.8),
      rgba(253, 221, 78, 0.8)
    ),
    url(/img/bg-lufalufa.jpg);
  background-color: var(--cor-4);
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

/* FORMATAÇÃO BÁSICA */

section, main, h1 {
  max-width: 70%;
  margin: auto;
}

/* FORMATAÇÃO DOS TEXTOS */

h1 {
  font-family: "MagicSchoolTwo";
  font-size: 5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--cor-5);
}

h2 {
  font-family: "Trebuchet MS";
  font-size: 1.5rem;
  color: var(--cor-5);
  width: 100%;
  margin-bottom: 10px;
}

h3 {
  font-family: "Trebuchet MS";
  font-size: 1.2rem;
  color: var(--cor-2);
  margin-bottom: 10px;
}

h4{
  font-family: "Trebuchet MS";
  font-size: 1rem;
  color: var(--cor-4);
  margin-bottom: 10px;
}

p {
  font-family: "Courgette-Regular.ttf";
  color: var(--cor-5);
  font-weight: 500;
  background-color: rgb(253, 221, 76, 0.4);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

ol{
  background-color: rgb(253, 221, 76, 0.2);
  padding: 20px;
  border-radius: 10px;
}

li {
  font-family: "Courgette-Regular.ttf";
  text-decoration: none;
  color: var(--cor-5);
}

/* RFORMATAÇÃO DOS BOTÕES */

.botao {
  background-color: var(--cor-1);
  padding: 10px;
  border-radius: 4px;
  border: 0;
  font-family: "Trebuchet MS";
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--cor-5);
  margin: 20px;
  min-width: 90px;
}

.botoes-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.botao:hover{
  background-color: var(--cor-6);
}


/* PÁGINA - ESCOLHA PERSONAGENS */

.escolha-os-personagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap:20px;
}

.personagens{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: auto;
  padding: 20px;
}

.personagens a {
  text-align: center;
  text-decoration: none;
}

.personagens p{
  text-align: justify;
}

img{
  margin-bottom: 30px;
}

img:hover{
  height: 230px;
  margin-bottom: 0;
}


/* FORMATAÇÃO DO FOOTER */

footer p {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7rem;
  color: var(--cor-2);
  text-align: center;
  background-color:var(--cor-5);
  padding-top: 10px;
  margin-bottom: 0;
}

footer {
  width: 100%;
  background-color: var(--cor-5);
  position:fixed;
  bottom: 0;
  left: 0;
}

/* RESPONSIVIDADE */

@media (max-width:400px){
  h1{
        font-size: 3rem;
  }

  .escolha-os-personagens{
    gap: 10px
  }
}